.nav {
    background: #f55a5a;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav--image {
    width: 24px;
    height: 24px;
    margin-right: 7px;
}

.nav--title {
    font-size: 14.5px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.075em;
}
